body {
    font-family: Arial;
    background:#eef2f7;
    padding:20px;
}

h2 {
    color:#0b3c5d;
}

.form-box {
    background:white;
    padding:20px;
    width:300px;
    border-radius:8px;
    box-shadow:0 0 10px gray;
}

input {
    width:100%;
    padding:10px;
    margin:8px 0;
}

button {
    background:#0b3c5d;
    color:white;
    border:none;
    padding:10px;
    width:100%;
    cursor:pointer;
}

table {
    width:100%;
    margin-top:15px;
    border-collapse:collapse;
    background:white;
}

th,td {
    border:1px solid #999;
    padding:10px;
    text-align:center;
}

th {
    background:#0b3c5d;
    color:white;
}
